
<div class="container" ng-controller="HomeCtrl">
  <div class="row row-content" data-ng-init="getNews(0)">
    <div class="col-xs-9 col-xs-offset-1">
     <h1 class="page-header text-primary">News</h1>
      <p ng-disabled="dataLoading"></p>
      <img ng-if="dataLoading" src="./assets/img/square.gif"/>
       <p class="alert alert-danger input-lg col-sm-12" role="alert" ng-show="errorMsg">Check Your Internet Connection</p>
        <ol class=" nav nav-pills nav-stacked">
         <li  class="media" style="font-family:'Open sans'" dir-paginate="news in newsList() | itemsPerPage:5"  ng-model="news" current-page="currentPage" total-items="totalItems()">
           <blockquote>
               <a twitter data-count='horizontal' data-url='{{news.sourceUrl}}'  data-size="medium" data-text='{{news.title}}' ><i class="fa fa-twitter"></i></a>
               <button  ng-click="deleteNews(news)"  ng-model="news" ng-show="loggedIn()" class="btn btn-danger pull-right glyphicon glyphicon-trash">Delete</button>
               <p><b>Title:</b> {{news.title}}</p>
               <p><b>ShortDescription:</b> {{news.shortDescription}}</p>
               <p><b>Body:</b> {{news.body}}</p>
               <p><b>SourceUrl:</b> <a href="{{news.sourceUrl}}" data-toggle="tooltip" title="{{news.sourceUrl}}">{{news.sourceUrl}}</a></p>
               <p><b>Image Credits:</b> {{news.videoUrl}}></p>
               <p><b>FeaturedImage Url:</b> <a href="{{news.featuredImage.url}}" data-toggle="tooltip" title="{{news.featuredImage.url}}">{{news.featuredImage.url}}</a></p>
               <button ng-click="editNews(news)" ng-model="news" ng-show="loggedIn()" class="btn btn-primary pull-right glyphicon glyphicon-edit">Edit</button>
               <footer> <b>Category:</b> {{news.category.name}}   |   <b>Author:</b> {{news.author.name}}   |   <b>Posted On:</b> {{news.date | date:mediumDate}}  | <b>News Id:</b>  <p class="badge">{{news.id}}</p></footer>
           </blockquote>
          </li>
        </ol> 
       </div>  
       <div class="navbar navbar-fixed-bottom">
          <div class="text-center pager">
            <dir-pagination-controls boundary-links="true" template-url="./app/dirPagination.tpl.html" on-page-change="pageChanged(newPageNumber)" data-toggle="tooltip" title="pager"></dir-pagination-controls>
          </div>
       </div>
    </div>
 </div>




