<div ng-controller="HomeCtrl">
            <div  data-ng-init="getNews(0)" >
                <h1 class="page-header">{{ title }}
            </h1>
         <input type="text" data-ng-model="searchStr" ng-model-options="{debounce: 1000}">
         <br>
         <p>{{responseData }}</p>
                <div class="bs-component" >
                        <ul>
                           <li dir-paginate="news in newsList() | itemsPerPage:perPage" ng-model="news" current-page="currentPage" total-items="totalItems()">
                            <h3 class="glyphicon glyphicon-hand-right">{{ news.title }}</h3>
                            <p>{{news.shortDescription}}</p>
                            <p>{{news.body}}</p>
                             <div>
                                <button ng-click="editNews(news)" ng-model="news" ng-show="loggedIn()" class="btn btn-info pull-right glyphicon glyphicon-edit">EDIT</button>
                            </div>
                            <p>News Source: <a href="{{news.sourceUrl}}">{{news.sourceUrl}}</a></p>
                            <p>News Video: <a href="{{news.videoUrl}}">{{news.videoUrl}}</a></p>
                            <p>Category: {{news.category.name}}</p>
                            <p>Author: {{news.author.name}}</p>
                            <p>Date : {{news.date}}</p> 
                            </li>
                        </ul>
                </div>
            </div>
            <div class="navbar navbar-fixed-bottom">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" template-url="./app/dirPagination.tpl.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>


 