<!-- <div ng-controller="HomeCtrl">
            <div  data-ng-init="getNews(0)" >
                <h1 class="page-header">{{ title }}
            </h1>
         <input type="text" data-ng-model="searchStr" ng-model-options="{debounce: 1000}">
         <br>
         <p>{{responseData }}</p>
                <div class="bs-component" >
                        <ul>
                           <li dir-paginate="news in newsList() | itemsPerPage:perPage" ng-model="news" current-page="currentPage" total-items="totalItems()">
                            <h3 class="glyphicon glyphicon-hand-right">{{ news.title }}</h3>
                            <p>{{news.shortDescription}}</p>
                            <p>{{news.body}}</p>
                             <div>
                                <button ng-click="editNews(news)" ng-model="news" ng-show="loggedIn()" class="btn btn-info pull-right glyphicon glyphicon-edit">EDIT</button>
                            </div>
                            <p>News Source: <a href="{{news.sourceUrl}}">{{news.sourceUrl}}</a></p>
                            <p>News Video: <a href="{{news.videoUrl}}">{{news.videoUrl}}</a></p>
                            <p>Category: {{news.category.name}}</p>
                            <p>Author: {{news.author.name}}</p>
                            <p>Date : {{news.date}}</p> 
                            </li>
                        </ul>
                </div>
            </div>
            <div class="navbar navbar-fixed-bottom">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" template-url="./app/dirPagination.tpl.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>

 -->

<div class="container" ng-controller="HomeCtrl">
  <div class="row row-content" data-ng-init="getNews(0)">
    <div class="col-xs-9 col-xs-offset-1">
     <h1 class="page-header">{{ title }}</h1>
        <ul class="media-list">
         <li  class="media" dir-paginate="news in newsList() | itemsPerPage:perPage" ng-model="news" current-page="currentPage" total-items="totalItems()">
           <blockquote>
               <p><b>Tilte:</b> {{news.title}}</p>
               <p><b>ShortDescription:</b> {{news.shortDescription}}</p>
               <p><b>Body:</b> {{news.body}}</p>
               <p><b>SourceUrl:</b> {{news.sourceUrl}}</p>
               <footer>{{news.author.name}}, {{news.date}}</footer>
           </blockquote>
          </li>
        </ul> 
       </div>  
    </div>
 </div>


 <!-- <div class="media-body">
             <h2 class="media-heading"><label for="Title">Title:</label> {{news.title}}
              <span class="label">{{news.shortDescription}}</span>
              </h2>
              <p>{{news.body}}</p>
              <p>{{news.sourceUrl}}</p>
              <p>{{news.videoUrl}}</p> 
              <p>{{news.category.name}}</p>  
            </div> -->
   