<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wisdom+</title>

    <link href="assests/css/angular-socialshare.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-social.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/portfolio-item.css" rel="stylesheet">
    <link href="assets/css/mystyles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="../bower_components/ng-dialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="../bower_components/ng-dialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="../bower_components/ng-dialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
</head>

<body ng-app="mainApp" ng-controller="NewsCtrl as news">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                     <li class=active><a ui-sref="home">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Wisdom<sup>+</sup></a></li>
                    <li ng-hide="loggedIn()"><a ng-click="openLogin()">
                        <span class="glyphicon glyphicon-user" title="Login"></span> Login</a></li>
                    <li ng-show="loggedIn()"><a ui-sref="newsForm">
                         <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
                         Add News</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">   
                     <li ng-show="loggedIn()" ng-click="logoutClicked()" class="navbar-right"><a ui-sref="home">
                     <i class="glyphicon glyphicon-lock"></i> Logout</a></li> 
                     <li><a class="btn-lg" href="http://www.facebook.com/wisdomplusapp/?ref=aymt_homepage_panel"><i class="fa fa-facebook"></i></a></li>
                     <li><a class="btn-lg" href="http://twitter.com/WisdomPlusApp"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav> 

     <header class="jumbotron container-fluid">
         <div class="container">
              <div class="col-xs-12 col-sm-8">
                <h1>Welcome To Wisdom<sup>+</sup></h1>
                <p style="padding:40px"></p>
                 <p><strong>Wisdom<sup>+</sup>:</strong> The News that stands for real values and gives you real value for money.</p>
              </div>
              <div class="col-xs-12 col-sm-2">
              <p style="padding:20px;"></p>
              <img class="img-rounded" src="./assets/img/ic_launcher.png">
              </div>
         </div>

     </header>


    <div class="container">
        <ui-view></ui-view>
    </div>
<!-- 
    <footer class="jumbotron container-fluid">
      <div class="container">
        <div class="col-xs-12">
          <p style="padding:10px;"></p>
          <p align="center"><strong>©</strong>Copyright 2016 <a href="#" data-toggle="tooltip" title="Wisdom">Wisdom<sup>+</sup></a></p>  
           <a href="http://ihysterics.com">
            <img class="img-rounded col-xs-offset-5" align="center" src="./assets/img/logo.png">
            </a>
        </div>
      </div>
      
    </footer> -->

     <footer class="jumbotron">
        <div class="container">          
                <div class="col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-6 col-xs-8">
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align="center">© Copyright 2016 <a href="http://ihysterics.com">Hysterics Solutions</a></p>
                </div>
            </div>
    </footer>



<script src="./app/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
<script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
<script src="./app/mainApp.js"></script>
<script src="./app/ui.router.js"></script>
<script src="./app/news/newsModule.js"></script>
<script src="./app/dirPagination.js"></script>
<script src="http://platform.twitter.com/widgets.js"></script>
<script src="./app/angular-socialshare.min.js"></script>
<script src="../bower_components/ng-dialog/js/ngDialog.min.js"></script>




<script type="text/javascript">
    console.log("angular object", angular);
    // console.log("access token in index.html", access_token)
</script>
</body>

</html>