<div class="container" ng-controller="UpdateCtrl">
<div>
      <ol class="breadcrumb">
          <li><a ui-sref="home">Home</a></li>
          <li class="active">NewsFormUpadate</a></li>          
      </ol>
  </div>
  <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="home">
        Back to Home
   </button>
<div class="row row-content">
  <h1 class="page-header text-primary">Wisdom<sup>+</sup> Form:  </h1>
   <form class="form-horizontal" name="UpdateNewsForm" ng-submit="updateNews()" novalidate  ng-show="loggedIn()">
     <div class="form-group" ng-class= "{  'has-error' : UpdateNewsForm.title.$error.required  &&  !UpdateNewsForm.title.$pristine }">
         <label for="title" class="col-sm-3 control-label">Title</label>
          <div class="col-sm-9">
          <textarea  rows="2" class="form-control" id="title" name="title" placeholder="Enter Title Of The News" ng-model="news.title" required autofocus maxlength="40"></textarea>
         </div>
      </div> 
        <div class="form-group"  ng-class= "{  'has-error' : UpdateNewsForm.shortDescription.$error.required  &&  !UpdateNewsForm.shortDescription.$pristine }">
         <label for="shortDescription" class="col-sm-3 control-label">ShortDescription</label>
          <div class="col-sm-9">
          <textarea rows="4" class="form-control" id="shortDescription" name="shortDescription" placeholder="Enter ShortDescription Of The News" ng-model="news.shortDescription" required  maxlength="140"></textarea>
         </div>
      </div>
        <div class="form-group"  ng-class= "{  'has-error' : UpdateNewsForm.body.$error.required  &&  !UpdateNewsForm.body.$pristine }">
         <label for="body" class="col-sm-3 control-label">Body</label>
          <div class="col-sm-9">
          <textarea rows="12" class="form-control" id="body" name="body" placeholder="Enter Body Of The News" ng-model="news.body" required ></textarea>
         </div>
      </div>
       <div class="form-group"  ng-class= "{  'has-error' : UpdateNewsForm.sourceUrl.$error.required  &&  !UpdateNewsForm.sourceUrl.$pristine }">
         <label for="sourceUrl" class="col-sm-3 control-label">SourceURL</label>
          <div class="col-sm-9">
          <input type="url" class="form-control" id="sourceUrl" name="sourceUrl" placeholder="Enter SourceURL Of The News" ng-model="news.sourceUrl" required>
         </div>
      </div>
        <div class="form-group" ng-class= "{  'has-error' : UpdateNewsForm.videoUrl.$error.required  &&  !UpdateNewsForm.videoUrl.$pristine }">
         <label for="videoUrl" class="col-sm-3 control-label">VideoURL</label>
          <div class="col-sm-9">
          <input type="url" class="form-control" id="videoUrl" name="videoUrl" placeholder="Enter VideoURL Of The News" ng-model="news.videoUrl"  ng-trim="false">
         </div>
      </div>    
       <div class="form-group"  ng-class= "{  'has-error' : UpdateNewsForm.category.$error.required  &&  !UpdateNewsForm.category.$pristine }">
           <label for="category" class="col-sm-3 control-label">Category</label>
             <div class="col-sm-9">
                <input type="text" class="form-control" id="category" name="category" placeholder="Enter Category Of The News" ng-model="news.category.name"  ng-trim="false">
            </div>
       </div>
        <div class="form-group"  ng-class= "{  'has-error' : UpdateNewsForm.featuredImageurl.$error.required  &&  !UpdateNewsForm.featuredImageurl.$pristine }">
         <label for="featuredImageurl" class="col-sm-3 control-label">FeaturedImageUrl</label>
          <div class="col-sm-9">
          <input type="url" class="form-control" id="featuredImageurl" name="featuredImageurl" placeholder="Enter FeaturedImageURL Of The News" ng-model="news.featuredImage.url" ng-trim="false">
         </div>
      </div>
       <div class="form-group" ng-class= "{  'has-error' : UpdateNewsForm.featuredImagedescription.$error.required &&  !UpdateNewsForm.featuredImagedescription.$pristine }">
         <label for="featuredImagedescription" class="col-sm-3 control-label">FeaturedImageDescription</label>
          <div class="col-sm-9">
          <textarea rows="4"  class="form-control" id="featuredImagedescription" name="featuredImagedescription" placeholder="Enter FeaturedImageDescription Of The News" ng-model="news.featuredImage.description" ng-trim="false"></textarea>
         </div>
      </div>
      <div ng-repeat="galleryImage in news.galleryImages track by $index">
          <div class="form-group"  ng-class= "{  'has-error' : UpdateNewsForm.galleryImageurl.$error.required  &&  !UpdateNewsForm.galleryImageurl.$pristine }">
            <label for="galleryImageUrl" class="col-sm-3 control-label">GalleryImageUrl</label>
            <div class="col-sm-9">
              <input type="url" class="form-control" id="galleryImageurl" name="galleryImageurl"  ng-model="news.galleryImages[$index].url" ng-trim="false">
            </div>
          </div>
          <div class="form-group" ng-class= "{'has-error' : UpdateNewsForm.galleryImagedescription.$error.required &&  !UpdateNewsForm.galleryImagedescription.$pristine }">
            <label for="galleryImagedescription" class="col-sm-3 control-label">GalleryImageDescription</label>
            <div class="col-sm-9">
                <textarea rows="4"  class="form-control" id="galleryImagedescription" name="galleryImagedescription" ng-model="news.galleryImages[$index].description" ng-trim="false"></textarea>
            </div>
          </div>
      </div> 
      <div class="form-group">
       <div class="col-sm-offset-3 col-sm-9">
         <p class="alert alert-danger input-lg col-sm-12" role="alert" ng-show="errorMsg">{{errorMsg}}</p>
         <p class="alert alert-success input-lg col-sm-12" role="alert" ng-show="successMsg">{{successMsg}}</p>
       </div>
       <div class="col-sm-offset-3 col-sm-9">
           <button type="submit" class="btn btn-primary" ng-disabled="dataLoading">Update News</button>
           <img ng-if="dataLoading" src="./assets/img/squares.gif"/> 
       </div>
      </div>
     </form> 
    </div>
  </div>




































