
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li  ng-click="setIndex(0)"  ng-class="(index==0) ? 'active' : ''">
                      <a  ui-sref="home">Home</a>
                    </li>
                    <li ng-click="setIndex(1)" ng-hide="isLoggedin()" ng-class="(index==1) ? 'active' : ''">
                        <a ui-sref="login">Login</a>
                    </li>
                    <li ng-click="setIndex(2)" ng-show="isLoggedin()" ng-class="(index==2) ? 'active' : ''">
                        <a ui-sref="logout">Logout</a>
                   </li>
                </ul>
            </div>
        </div>
    </nav>





 